<h1> Busque qualquer palavra em um vídeo! </h1>

<p>Projeto tem como objetivo melhorar a acessibilidade, qualidade do EAD, otimizando pesquisas de uma forma automatizada.
Um sistema de pesquisa por palavras citadas em um vídeo.</p>

<h3>Busque uma palavra e nós diremos o exato momento onde ela foi dita no vídeo!</h3>

<html>
<body>

<br/>

<center><button style="background: ##7FFFD4; border-radius: 6px; padding: 20px; cursor: pointer; border: none; font-size: 16px;">Faça o upload do vídeo</button></center> 

<h2>Olá visitante! Possui cadastro?</h2>
<p>Entre em sua área para ver histórico de buscas, anotações e recursos adicionais. </p>

<a href="http://localhost:3000/users/sign_in"><button style="background: #019cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Entre</button></a>

<a href="http://localhost:3000/users/sign_up"><button style="background: 	#8B008B; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Cadastre-se</button></a>

</body>
</html>
